<script>
    function Ir(cual) {
        document.forms['mio'].action = "/ambientes/" + cual
        document.forms['mio'].submit();


    } function Ir1(cual) {
        location.href = cual
    }
    function Confirmar(que, donde) {
        if (confirm(que))
            location.href = donde
    }
    function Va(tipo) {

        if (tipo == "i")
            document.forms['mio'].action = "/ambientes/i"
        if (tipo == "u") {
            document.forms['mio'].action = "/ambientes/u"
        }

        document.forms['mio'].submit();

    }
</script>

{% extends "base.html" %}

{% block title %}AMBIENTES{% endblock %}

{% block content %}


{% if N == 0 %}
<!-- EDILISTAR REGISTROS -->
<center>
        <div class="bilinguismo__informacion-card-header">
            <h3 class="bilinguismo__information-card-title sena-color sena-sombra">
                <font color=white>Usuarios</font>
            </h3>
        </div>
            <table class="w3-striped w3-padding-large sena-p100">
                <td width=50%>
                    <center>
                        <table class="sena__information-card-text w3-striped  w3-centered sena-p100">
                            <tr>
                                <td colspan=2>
                                    <h5 class="sena-sombra w3-green sena-p100 ">CREAR AMBIENTE</h5>
                                    </header>
                                </td>
                            </tr>
                            <tr>
                                <form name=mio method=POST action="/ambientes/i" class="row g-3 ">
                            <tr>
                                <td>Seleccione Puesto de Trabajo:</td>
                                <td>
                                    <select name="idPuestoTrabajo" id="idPuestoTrabajo" class="w3-select" required>
                                        {% if workstations_not_in_classroom %}
                                        <option value="" disabled>{{ msg }}</option>
                                        {% else %}
                                        {% for x in puesto_t %}
                                        <option value="{{ x[0] }}">{{ x[1] }}</option>
                                        {% endfor %}
                                        {% endif %}
                                    </select>
                                    <br><br>
                                </td>
                            </tr>
                            <td>Nombre del Ambiente de Formación:</font>
                            </td>
                            <td><input class="sena-fondo" type="text" id="nombreAmbiente" name="nombreAmbiente"
                                    required><br></td>
                            </tr>
                        </table>
                        <br>
                        <input type="submit" value="Grabar" class="w3-button w3-round w3-green">
                        </form>
                </td>
            </table>
                <br><br><br><br>
                <td>
                        <table class="instructores">
                            <h2>Ambientes de Formación</h2>
                            <thead>
                                <tr>
                                    <th id="j" scope="col">Nombre Ambiente de Formación</th>
                                    <th id="j" scope="col">Editar</th>
                                    <th id="j" scope="col">Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for x in cadena %}
                            <td id="k" data-cell="Nombre Ambiente de Formación">{{x[2]}}</td>
                            <td width="100px">
                                <button class="btn w3-blue w3-hover-yellow" alt="Editar"
                                    onclick="Ir1('/ambientes/e/{{x[0]}}')" title="Editar"><i
                                        class="fa fa-pencil"></i></button></td>
                                        <td width="100px">
                                <button class="btn w3-red w3-hover-yellow"
                                    onclick='Confirmar("Desea Borrar el registro?","/ambientes/d/{{x[0]}}")'
                                    title="Borrar"><i class="fa fa-trash"></i></button>
                            </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        </table>
    <button class="w3-button w3-round w3-black" onclick="history.back()">Regresar</button>
    {% endif %}


    <!--CREAR UN REGISTRO-->
    {% if N == '1' %}
    <div class="w3-responsive">
        <br>
        <table class="w3-striped w3-centered">
            <tr>
                <td colspan=2 class="w3-green">CREANDO REGISTRO AMBIENTE...</td>
            </tr>
            <form name="mio" method="POST" class="w3-bordered"></form>
            <tr>
                <td>Seleccione Puesto de Trabajo:</td>
                <td>
                    <select name="idPuestoTrabajo" id="idPuestoTrabajo" class="w3-select" required>
                        {% for x in puestos_t %}
                        <option value="{{ x[0] }}">{{ x[1] }}</option>
                        {% endfor %}
                    </select>
                    <br><br>
                </td>
            </tr>
            <tr>
                <td>Nombre del ambiente:</td>
                <td>
                    <input class="w3-input w3-border w3-hover-yellow" type="text" name="nombreAmbiente" required
                        maxlength="45">
                </td>
            </tr>
            <tr>
                <td colspan=2>
                    <input type="button" value="Grabar" onclick="Va('i')" class="w3-button w3-green w3-half w3-round">
                    <input type="button" value="Regresar" onclick="Ir1('/ambientes/l')"
                        class="w3-round w3-button w3-black">
                </td>
            </tr>
        </table>
        </form>
    </div>
    {% endif %}


    <!--EDITAR UN REGISTRO-->
    {%if N == 2 %}
    <center>
        <div class="w3-responsive"><br>
            <table class="w3-striped  w3-centered">
                <tr>
                    <form name=mio method=POST>
                <tr>
                    <td colspan=2 class="w3-green">EDITANDO... AMBIENTE</td>
                </tr>
                <td>Seleccione Puesto de Trabajo:</td>
                <td>
                    <select name="idPuestoTrabajo" id="idPuestoTrabajo" class="w3-select" required>
                        {% if nombre_ambi is not in puesto_t %}
                        {% for x in puesto_t %}
                        <option value="{{ x[0] }}">{{ x[1] }}</option>
                        {% endfor %}
                        {% else %}
                        <p>NO HAY PT DISPONIBLES</p>
                        {% endif %}
                    </select>
                    <br><br><br><br>
                </td>
                </tr>
                <td>Nombre Ambiente:</td>
                {% for i in nombre_ambi %}
                <td><input type=text name=nombreAmbiente id=nombreAmbiente value="{{ i[2] }}" required></td>
                </tr>
                <td colspan=2><br><input type="button" value="Grabar" onclick="Va('u')"
                        class="w3-button w3-round w3-green">
                    <input type=hidden name=id value="{{ i[0] }}">
                    <input type="button" value="Regresar" onclick="Ir1('/ambientes')"
                        class="w3-button w3-black w3-round">
                </td>
                </tr>
                {% endfor %}
            </table>
            </form>
        </div>
        {%endif%}

            {% endblock %}