{% extends "base.html" %}

{% block title %}ESTADO AMBIENTE{% endblock %}

{% block content %}

<!-- HTML -->
<!-- <div class="container" id="container">
  

</div>

<script src="{{ url_for('static', filename='js/cajas.js') }}"></script> -->

<link rel="stylesheet" href="{{ url_for('static', filename='CSS/cards.css') }}">

<div class="grid-container">
    {% for ambi_pt in ambiente_puesto %}
    <div class="card">
      <div class="card_image">
        <a href="">
          <img id="images" class="center" src="{{url_for('static',filename='images/')}}" height="160px"
            width="173px">
        </a>
      </div>
      <div class="card_content">
        <h2 class="card_title">{{ ambi_pt[3] }}</h2>
      </div>
    </div>
    {% endfor %} 
</div>


<!-- END HTML -->


{% endblock %}