{% extends "base.html" %}

{% block title %}ESTADO AMBIENTE{% endblock %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='CSS/cards.css') }}">

<div class="grid-container">
  {% if current_user.is_authenticated and current_user.idTipoInstructor == 1 %}
    {% for ambi_pt in ws_idPuestoTrabajo %}
    <div class="card" style="width: 150px; background-color: {{ 'red' if ambi_pt[3] else 'green' }};">
      <div class="card_content" style="width: 120px; height: auto;">
        <h2 class="card_title">{{ ambi_pt[2] }}</h2>
      </div>
    </div>
    {% endfor %}
<br><br><br>
<input type="button" class="w3-button w3-round w3-black" value="Regresar" onclick="history.back()">
{% else %}
{% for ambi_pt in ws_idPuestoTrabajo %}
    <div class="card" style="width: 150px; background-color: {{ 'red' if ambi_pt[3] else 'green' }};">
      <div class="card_content" style="width: 120px; height: auto;">
        <h2 class="card_title">{{ ambi_pt[2] }}</h2>
      </div>
    </div>
    {% endfor %}
</div>
<br><br><br>
<a style="float: left;" href="{{ url_for('logout') }}"><input type="button" class="w3-button w3-round w3-red" value="CERRAR SESION"></a><input type="button" style="float: right; width: 55%;" class="w3-button w3-round w3-green" value="REGISTRAR NOVEDAD" onclick="history.back()">
{% endif %}
{% endblock %}
