<script>
    function Ir(cual){
        document.forms['mio'].action="/elementos/"+cual
        document.forms['mio'].submit();
     
       }function Ir1(cual){
        location.href=cual
       }
        function Confirmar(que,donde){
            if (confirm(que))
              location.href=donde
        }
       function Va(tipo){
        
        if(tipo=="i")
        document.forms['mio'].action="/elementos/i"
        if(tipo=="u"){
         
         document.forms['mio'].action="/elementos/u"   
        }
        
        document.forms['mio'].submit();    
     
       }
    </script>
    <center>

{% extends "base.html" %}

{% block title %}REGISTRAR{% endblock %}

{% block content %}


{% if N == 0 %}
<!--ENLISTAR REGISTROS-->
<table class="w3-striped w3-padding-large sena-p100">
    <td width=50%>
        <center>
            <table class="w3-striped w3-centered">
                <tr>
                    <td colspan=2 class="w3-green">CREANDO ELEMENTO...</td>
                </tr>
                <tr>
                    <form name="mio" method="POST" class="w3-bordered">
                        <td>Seleccione el tipo de elemento:</td>
                        <td>
                            <select name="idTipoElemento" id="idTipoElemento" class="w3-select" required>
                                {% for x in tipo_elementos %}
                                    <option value="{{ x[0] }}">{{ x[1] }}</option>
                                {% endfor %}
                            </select>
                            <br><br>
                        </td>
                </tr>
                <tr>
                    <td>Nombre del Elemento:</td>
                    <td>
                        <input class="w3-input w3-border w3-hover-yellow" type="text" name="nombreElemento" required maxlength="45">
                    </td>
                </tr>
                <tr>
                    <td>Barcode:</td>
                    <td>
                        <input class="w3-input w3-border w3-hover-yellow" type="text" name="barcode" required maxlength="12">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="button" value="Grabar" class="w3-button w3-round w3-green" onclick="Va('i')">
                        <input type="button" value="Regresar" onclick="history.back()" class="w3-round w3-button w3-black">
                    </td>
                </tr>
            </table>
        </form>
    </td>
</table>
<br><br><br><br>
<table class="instructores">
    <h2>Lista de Elementos</h2>
    <thead>
        <tr>
            <th id="j" scope="col">Elemento</th>
            <th id="j" scope="col">Update</th>
            <th id="j" scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
    {% if current_user.is_authenticated and current_user.idTipoInstructor == 1 %}
        {% for row in arias %}
        <tr>
            <!-- IF CLAUSE -->
            {% if row[3] == None %}
            {% else %}
                <td id="k" data-cell="Nombre del Elemento">{{ row[3] }}</td>

                <td>
                    <button class="w3-button w3-round w3-blue" onclick="Ir1('/elementos/e/{{ row[4] }}')"><i class="fa fa-pencil"></i>&nbsp;</button></td>  
                <td>
                    <button class="w3-button w3-round w3-red" onclick='Confirmar("Desea Borrar el registro?","/elementos/d/{{row[4]}}")'>
                        <i class="fa fa-trash"></i>&nbsp;</button>
                </td>  
              </tr>
            {% endif %}
            <!-- END OF THE IF CLAUSE -->
          {% endfor %}
    </tbody>
    {% elif current_user.is_authenticated and current_user.idTipoInstructor == 3 %}
    <tbody>
            {% for row in cadena %}
            <tr>
                <td id="k" data-cell="Nombre del Elemento">{{ row[2] }}</td>
                <td>
                    <button class="w3-button w3-round w3-blue" onclick="Ir1('/elementos/e/{{ row[0] }}')"><i class="fa fa-pencil"></i>&nbsp;</button></td>  
                <td>
                    <button class="w3-button w3-round w3-red" onclick='Confirmar("Desea Borrar el registro?","/elementos/d/{{row[0]}}")'>
                        <i class="fa fa-trash"></i>&nbsp;</button>
                </td>  
              </tr>
              {% endfor %}
        </tbody>
    {% endif %}
</table>
<br><br>
<button class="w3-button w3-round w3-black" onclick="history.back()">Regresar</button>
{% endif %}




<!--CREAR UN REGISTRO-->
{% if N == '1' %}
<div class="w3-responsive">
    <br>
    <table class="w3-striped w3-centered">
        <tr>
            <td colspan=2 class="w3-green">CREANDO REGISTRO...</td>
        </tr>
        <tr>
            <form name="mio" method="POST" class="w3-bordered">
                <td>
                    Seleccione el tipo de elemento:</td>
                <td>
                    <select name="idTipoElemento" id="idTipoElemento" class="w3-select" required>
                        {% for x in tipo_elementos %}
                            <option value="{{ x[0] }}">{{ x[1] }}</option>
                        {% endfor %}
                    </select>
                    <br><br>
                </td>
        </tr>
        <tr>
            <td>Nombre del Elemento:</td>
            <td>
                <input class="w3-input w3-border w3-hover-yellow" type="text" name="nombreElemento" required maxlength="45">
            </td>
        </tr>
        <tr>
            <td>Barcode:</td>
            <td>
                <input class="w3-input w3-border w3-hover-yellow" type="text" name="barcode" required maxlength="45">
            </td>
        </tr>
        <tr>
            <td colspan=2>
                <input type="button" value="Grabar" onclick="Va('i')" class="w3-button w3-green w3-half w3-round">
                <input type="button" value="Regresar" onclick="Ir1('/elementos')" class="w3-round w3-button w3-black">
            </td>
        </tr>
    </table>
</form>
</div>
{% endif %}


<!--EDITAR UN REGISTRO-->
{%if N == 2 %}
<center>
    <div class="w3-responsive"><br>
<table class="w3-striped  w3-centered">
    <tr>
<form name=mio method=POST>
    <tr><td colspan=2 class="w3-green">EDITANDO...</td></tr>
    <td>Seleccione el tipo de elemento:</td>
                <td>
                    <select name="idTipoElemento" id="idTipoElemento" class="w3-select" required>
                        {% for x in tipo_elementos %}
                            <option     value="{{ x[0] }}">{{ x[1] }}</option>
                        {% endfor %}
                    </select>
                    <br><br><br><br>
                </td></tr>
    <td>Nombre del elemento:</td>
{% for i in cadena %}
    <td><input type=text name=nombreElemento id=nombreElemento value="{{ i[2] }}"  required></td></tr>
    <td>Barcode:</td><td><input type=text name=barcode id=barcode value="{{ i[3] }}"  required></td></tr>
    <td colspan=2><br><input type="button" value="Grabar" onclick="Va('u')" class="w3-button w3-round w3-green">
        <input type=hidden name=id value="{{ cadena[0][0] }}">
        <input type="button" value="Regresar" onclick="Ir1('/elementos')" class="w3-button w3-black w3-round">
    </td></tr>
    {% endfor %}
</table>
</form>
</div>
{%endif%}

{% endblock %}