<script>
    function Ir(cual){
        document.forms['mio'].action="/novedades/"+cual
        document.forms['mio'].submit();
     
       }function Ir1(cual){
        location.href=cual
       }
        function Confirmar(que,donde){
            if (confirm(que))
              location.href=donde
        }
       function Va(tipo){
        
        if(tipo=="i")
        document.forms['mio'].action="/novedades/i"
        if(tipo=="u"){
         
         document.forms['mio'].action="/novedades/u"   
        }
        
        document.forms['mio'].submit();    
     
       }
    </script>
    <center>

{% extends "base.html" %}

{% block title %}NOVEDADES{% endblock %}

{% block content %}


{% if N == 0 %}
<!-- EDILISTAR REGISTROS -->
<table id="myTable" class="w3-table w3-striped w3-border" border="1">   
    <thead>
        <tr>
            <th scope="col">Puesto de Trabajo</th>
            <th scope="col">Elemento</th>
            <th scope="col">Descripción</th>
            <th scope="col">Fecha de la novedad</th>
        </tr>
    </thead>
    <tbody>
        {% if current_user.is_authenticated and current_user.idTipoInstructor == 1 %}
        {% for x in cadena %}
        <tr>
            <td>{{ x[0] }}</td> <!-- Puesto de Trabajo Name -->
            <td>
                {% for elem in x[1] %}
                    {{ idElemento_dict.get(elem, '') }}<br>
                {% endfor %}
            </td>
            <td>{{ x[2] }}</td> <!-- Descripción de la novedad -->
            <td>{{ x[3] }}</td> <!-- Fecha de la novedad -->
        </tr>
        {% endfor %}

        {% elif current_user.is_authenticated and current_user.idTipoInstructor == 3 %}
        {% for x in cadena %}
        <tr>
            <td>{{ idPT_dict.get(x[0], '') }}</td> <!-- Puesto de Trabajo Name -->
            <td>{{ idElemento_dict.get(x[1], '') }}</td> <!-- Elemento -->
            <td>{{ x[2] }}</td> <!-- Descripción -->
            <td>{{ x[3] }}</td> <!-- Fecha -->
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>   
</table>
<br>
<div id="pagination"></div>
<br>
<!-- BUTTONS -->
<button id="prevButton" class="w3-button w3-round w3-black">Anterior</button>
<button id="nextButton" class="w3-button w3-round w3-green">Siguiente</button>
<br><br>
<button class="w3-button w3-round w3-red" onclick='Confirmar("Desea Borrar todos los registros?","/novedades/niveles/d")'>Borrar Novedades</button>
<input type="button" class="w3-button w3-round w3-black" value="Regresar" onclick="history.back()">

<script src="{{ url_for('static', filename='js/pagination.js') }}"></script>
{% endif %}



{% if N == '1' %}
<div class="createANovelty">
<div class="w3-responsive">
    <br>
    <table class="w3-striped w3-centered">
        <tr>
            <td colspan="2" class="w3-green">CREANDO UNA NOVEDAD...</td>
        </tr>
        <form id="novedadForm" name="mio" method="POST" class="w3-bordered" action="/novedades/i"> <!-- Pass idElemento in the form action -->
            <input type="hidden" id="idPuestoTrabajo" name="idPuestoTrabajo" value="{{ workstation_id }}">
            <input type="hidden" id="idElemento" name="idElemento" value="{{ element_id }}  ">
            <tr>
                <td>Descripción:</td>
                <td>
                    <input class="w3-input w3-border w3-hover-yellow" type="text" id="descripcion_novedad" name="descripcion_novedad" required maxlength="45">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button id="navigateButton" class="w3-button w3-green w3-round">Grabar</button> <!-- Change type to submit -->
                    <input type="button" class="w3-round w3-button w3-black" value="Regresar" onclick="history.back()">
                </td>   
            </tr>
        </form>
    </table>
</div>
</div>
<script src="{{ url_for('static', filename='js/insert_novelties.js') }}"></script>
{% endif %}


<!-- REGISTRO NOVEDAD GENERAL -->
{% if N == 2 %}
<div class="createGeneralANovelty">
<div class="w3-responsive">
    <br>
    <table class="w3-striped w3-centered">
        <tr>
            <td colspan="2" class="w3-green">CREANDO UNA NOVEDAD GENERAL...</td>
        </tr>
        <form id="novedadForm" name="mio" method="POST" class="w3-bordered" action="/novedades/i2"> <!-- Pass idElemento in the form action -->

            <input type="hidden" id="idAmbiente" name="idAmbiente" value="{{ idAmbiente }}">
            <tr>
                <td>Descripción:</td>
                <td>
                    <input class="w3-input w3-border w3-hover-yellow" type="text" id="descripcion_novedad" name="descripcion_novedad" required maxlength="45">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit" id="navigateButton" class="w3-button w3-green w3-round">Grabar</button> <!-- Change type to submit -->
                    <input type="button" class="w3-round w3-button w3-black" value="Regresar" onclick="history.back()">
                </td>   
            </tr>
        </form>
    </table>
</div>
</div>
<script src="{{ url_for('static', filename='js/insert_general_novelty.js') }}"></script>
{% endif %}

{% endblock %}