<script>
    function Ir(cual){
        document.forms['mio'].action="/niveles/"+cual
        document.forms['mio'].submit();
     
       }function Ir1(cual){
        location.href=cual
       }
        function Confirmar(que,donde){
            if (confirm(que))
              location.href=donde
        }
       function Va(tipo){
        
        if(tipo=="i")
        document.forms['mio'].action="/niveles/i"
        if(tipo=="u"){
         
         document.forms['mio'].action="/niveles/u"   
        }
        
        document.forms['mio'].submit();    
     
       }
    </script>
    <center>

{% extends "./base.html" %}

{% block title %}REGISTRAR{% endblock %}

{% block content %}


{% if N == 0  %}
<!--EDILISTAR REGISTROS-->
<table class="w3-table w3-striped w3-border" border="1">   
    <thead>
        <tr>
            <th scope="col">Elemento</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for row in cadena %}
        <tr>
            <td>{{ row[2] }}</td>
            <td>
                <button class="w3-blue" onclick="Ir1('/niveles/e/{{ row[0] }}')"><i class="fa fa-pencil"></i>&nbsp;Editar</button></td>  
            <td>
                <button class="w3-red" onclick='Confirmar("Desea Borrar el registro?","/niveles/d/{{row[0]}}")'>
                    <i class="fa fa-trash"></i>&nbsp;Eliminar</button>
            </td>  
          </tr>
          {% endfor %}  
    </tbody>
</table>
<br><br>
<button class="w3-blue" onclick="history.back()">Regresar</button>
{%endif%}


<!--CREAR UN REGISTRO-->
{% if N == '1' %}
<div class="w3-responsive">
    <br>
    <table class="w3-striped w3-centered">
        <tr>
            <td colspan=2 class="w3-green">CREANDO REGISTRO...</td>
        </tr>
        <tr>
            <form name="mio" method="POST" class="w3-bordered">
                <td>Seleccione el tipo de elemento:</td>
                <td>
                    <select name="idTipoElemento" id="idTipoElemento" class="w3-select" required>
                        {% for x in tipo_elementos %}
                            <option value="{{ x[0] }}">{{ x[1] }}</option>
                        {% endfor %}
                    </select>
                    <br><br>
                </td>
        </tr>
        <tr>
            <td>Nombre del Elemento:</td>
            <td>
                <input class="w3-input w3-border w3-hover-yellow" type="text" name="nombreElemento" required maxlength="45">
            </td>
        </tr>
        <tr>
            <td>Barcode:</td>
            <td>
                <input class="w3-input w3-border w3-hover-yellow" type="text" name="barcode" required maxlength="45">
            </td>
        </tr>
        <tr>
            <td colspan=2>
                <input type="button" value="Grabar" onclick="Va('i')" class="w3-button w3-green w3-half w3-round">
                <input type="button" value="Regresar" onclick="Ir1('/niveles/l')" class="w3-round w3-button w3-black">
            </td>
        </tr>
    </table>
</form>
</div>
{% endif %}


<!--EDITAR UN REGISTRO-->
{%if N == 2 %}
<center>
    <div class="w3-responsive"><br>
<table class="w3-striped  w3-centered">
    <tr>
<form name=mio method=POST>
    <tr><td colspan=2 class="w3-green">EDITANDO...</td></tr>
    <td>Seleccione el tipo de elemento:</td>
                <td>
                    <select name="idTipoElemento" id="idTipoElemento" class="w3-select" required>
                        {% for x in tipo_elementos %}
                            <option     value="{{ x[0] }}">{{ x[1] }}</option>
                        {% endfor %}
                    </select>
                    <br><br><br><br>
                </td></tr>
    <td>Nombre del elemento:</td>
{% for i in cadena %}
    <td><input type=text name=nombreElemento id=nombreElemento value="{{ i[2] }}"  required></td></tr>
    <td>Barcode:</td><td><input type=text name=barcode id=barcode value="{{ i[3] }}"  required></td></tr>
    <td colspan=2><br><input type="button" value="Grabar" onclick="Va('u')" class="w3-button w3-round w3-green">
        <input type=hidden name=id value="{{ cadena[0][0] }}">
        <input type="button" value="Regresar" onclick="Ir1('/niveles/l')" class="w3-button w3-black w3-round">
    </td></tr>
    {% endfor %}
</table>
</form>
</div>
{%endif%}

{%if N == '1000' %}
<center>
    <div class="w3-card">
        <div class="w3-container w3-center w3-green">
            <h1>CENTRO DE PRODUCCION DE SOLUCIONES INTELIGENTES -CPSI-</h1>
          </div>
          <img src="{{url_for('static',filename='images/CPSI.png')}}">
       </div>
       <script>
        function Voy(){
        location.href="/niveles/l"
        }
        setTimeout('Voy()',5000)
    </script>
{%endif%}

{% endblock %}