<div class="w3-bar w3-black">
    {% if current_user.is_authenticated and current_user.idTipoInstructor == 1 %}
        <a href="/menu/accountant" class="w3-bar-item w3-button w3-mobile"><img width=20px src="{{url_for('static',filename='images/inicio.webp')}}">&nbsp;Inicio</a>
    {% else %}
    <a href="/menu" class="w3-bar-item w3-button w3-mobile"><img width=20px src="{{url_for('static',filename='images/inicio.webp')}}">&nbsp;Inicio</a>
    {% endif %}
    <a href="/elementos/1000" class="w3-bar-item w3-button w3-mobile  w3-right"><i class="fa fa-search"></i>&nbsp;&nbsp;Acerca de...</a>
  </div>