<div class="w3-bar w3-black">
    <a href="/menu" class="w3-bar-item w3-button w3-mobile"><img width=20px src="{{url_for('static',filename='images/inicio.webp')}}">&nbsp;Inicio</a>
            <!-- <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-bars"></i>&nbsp;Nuevo
            </button>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="/niveles/1">Nuevo Elemento</a></li>
              <li><a class="dropdown-item" href="/ambientes/1">Nuevo Ambiente</a></li>
              <li><a class="dropdown-item" href="/novedades/1">Nueva Novedad</a></li>
              <li><a class="dropdown-item" href="#">Nuevo Puesto de Trabajo</a></li>
              <li><a class="dropdown-item" href="#">Nuevo Instructor</a></li>
            </ul>

            <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-bars"></i>&nbsp;Visualizar
            </button>
            <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item" href="/puesto_trabajo/l">Puestos de Trabajo</a></li>
                <li><a class="dropdown-item" href="/ambientes/l">Ambientes de Formación</a></li>
                <li><a class="dropdown-item" href="/novedades/l">Ver Novedades</a></li>
                <li><a class="dropdown-item" href="/instructores/l">Instructores</a></li>
            </ul> -->
    <a href="/elementos/1000" class="w3-bar-item w3-button w3-mobile  w3-right"><i class="fa fa-search"></i>&nbsp;&nbsp;Acerca de...</a>
  </div>