<script>

function Ir1(url, workstationName, elementName) {
            window.location.href = `${url}?workstation_name=${encodeURIComponent(workstationName)}&element_name=${encodeURIComponent(elementName)}`;
        }

    function Ir1(cual) {
        location.href = cual
    }
    function Confirmar(que, donde) {
        if (confirm(que))
            location.href = donde
    }
    function Va(tipo) {
        if (tipo == "i")
            document.forms['mio'].action = "/puesto_trabajo/i"
        if (tipo == "u") {
            document.forms['mio'].action = "/puesto_trabajo/u"
        }
        document.forms['mio'].submit();
    }

    function Re(tipo) {
    if (tipo === "ii") {
        document.forms['mio'].action = "/puesto_trabajo/puestos/trabajo/add/elements/i"
    }
    const form = document.forms['mio'];
    document.forms['mio'].submit();
}
</script>
<center>

    {% extends "base.html" %}

    {% block title %}PUESTO DE TRABAJO{% endblock %}

    {% block content %}

    <!-- EDILISTAR REGISTROS -->
    {% if N == 0 %}
    {% if current_user.is_authenticated and current_user.idTipoInstructor == 1 or current_user.idTipoInstructor == 3 %}
        <table class="w3-table w3-striped w3-border" border="1">
            <thead>
                <tr>
                    <th scope="col">Elemento</th>
                    <th scope="col">Barcode</th>
                </tr>
            </thead>
            <tbody>
                {% for x in lucas %}
                <tr>
                    <td>{{ x[1] }}</td>
                    <td>{{ x[2] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <input type="button" class="w3-button w3-round w3-black" value="Regresar" onclick="history.back()">
    {% else %}
        <table class="w3-table w3-striped w3-border" border="1">
            <thead>
                <tr>
                    <th scope="col">Elemento</th>
                    <th scope="col">Registrar Novedad</th>
                </tr>
            </thead>
            <tbody>
                {% for key, value in cadena_dict.items() %}
                <tr>
                    <td>{{ value }}</td>
                    <td>
                        <button onclick="Ir1('/novedades/registrar/novedad/{{ workstation_id }}/{{ key }}', '{{ workstation_name }}', '{{ value }}')"
                                class="w3-round w3-button w3-orange">Registrar Novedad</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <input type="button" style="float: left; width: 55%;" class="w3-button w3-round w3-green" value="R. NOVEDAD GENERAL" onclick="history.back()"><a style="float: right;" href="{{ url_for('logout') }}"><input type="button" class="w3-button w3-round w3-red" value="CERRAR SESION"></a>
    {% endif %}
{% endif %}


    <!--CREAR UN REGISTRO-->
    {% if N == '1' %}
    <div class="w3-responsive">
        <br>
        <table class="w3-striped w3-centered">
            <tr>
                <td colspan=2 class="w3-green">CREANDO REGISTRO...</td>
            </tr>
            <tr>
                <form name="mio" method="POST" class="w3-bordered">
                    <td>Seleccione el tipo de elemento:</td>
                    <td>
                        <select name="idTipoElemento" id="idTipoElemento" class="w3-select" required>
                            {% for x in tipo_elementos %}
                            <option value="{{ x[0] }}">{{ x[1] }}</option>
                            {% endfor %}
                        </select>
                        <br><br>
                    </td>
            </tr>
            <tr>
                <td>Nombre del Elemento:</td>
                <td>
                    <input class="w3-input w3-border w3-hover-yellow" type="text" name="nombreElemento" required
                        maxlength="45">
                </td>
            </tr>
            <tr>
                <td>Barcode:</td>
                <td>
                    <input class="w3-input w3-border w3-hover-yellow" type="text" name="barcode" required
                        maxlength="45">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="button" value="Grabar" onclick="Va('i')" class="w3-button w3-green w3-half w3-round">
                    <input type="button" value="Regresar" onclick="Ir1('/elementos')"
                        class="w3-round w3-button w3-black">
                </td>
            </tr>
        </table>
        </form>
    </div>
    {% endif %}


    <!--EDITAR UN REGISTRO-->
    {%if N == 2 %}
    <center>
        <div class="w3-responsive"><br>
            <table class="w3-striped  w3-centered">
                <tr>
                    <form name="mio" method="POST">
                <tr>
                    <td colspan=2 class="w3-green">EDITAR PUESTO DE TRABAJO...</td>
                </tr>
                {% for x in one_workstation %}
                <td>Nombre del Puesto de Trabajo:</td>
                <td><input type=text name=nombrePT id=nombrePT value="{{ x[1] }}" required></td>
                </tr>
                <td colspan=2><br><input type="button" value="Grabar" onclick="Va('u')"
                        class="w3-button w3-round w3-green">
                    <input type="hidden" name="idPuestoTrabajo" value="{{ x[0] }}">
                    <input type="button" class="w3-button w3-round w3-black" value="Regresar" onclick="Ir1('/puesto_trabajo')">
                </td>
                {% endfor %}
            </table>
            </form>
            <br>
            <br><br>
        </div>
        {%endif%}


        <!-- LISTAR REGISTROS -->
        {% if N == 7 %}
        {% if current_user.is_authenticated and current_user.idTipoInstructor == 1 %}
        
        {% else %}
        <table class="sena__information-card-text w3-striped w3-centered sena-p100">
            <td width="50%">
                <center>
                    <table class="sena__information-card-text w3-striped w3-centered sena-p100">
                        <tr>
                            <td colspan=2>
                                <h5 class="sena-sombra w3-green sena-p100 ">CREAR PUESTO DE TRABAJO</h5>
                            </td>
                        </tr>
                        <tr>
                            <form name=mio method=POST action="/puesto_trabajo/i" class="row g-3">
                                <td>Nombre del Puesto de Trabajo:</td>
                                <td><input class="sena-fondo" type="text" id="nombrePT" name="nombrePT" required><br></td>
                        </tr>
                    </table>
                    <br>
                    <input type="submit" value="Grabar" class="w3-button w3-round w3-green">
                    </form>
            </td>
        </table>
        {% endif %}
        <br><br>
        <table class="instructores">
            <h2>Puestos de Trabajo</h2>
            <thead>
                <tr>
                    <th id="j" scope="col">Puesto de Trabajo</th>
                    <th id="j" scope="col">Asignar Elementos</th>
                    <th id="j" scope="col">Visualizar</th>
                    <th id="j" scope="col">Editar</th>
                    <th id="j" scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                {% if current_user.is_authenticated and current_user.idTipoInstructor == 1 %}
                    {% for k in ws_idPuestoTrabajo %}
                        <tr>
                            <td id="k" data-cell="Puesto de Trabajo">{{ k[2] }}</td>
                            <td id="k" data-cell="Asignar Elementos">
                                <button class="btn w3-green w3-hover-yellow" alt="Asignar" onclick="Ir1('/puesto_trabajo/ptrabajo/add/elements/{{ k[1] }}')" title="Asignar"><i class="fa fa-plus"></i></button>
                            </td>
                            <td id="k" data-cell="Visualizar Puesto">
                                <button class="btn w3-blue w3-hover-yellow" alt="Visualizar" onclick="Ir1('/puesto_trabajo/pt/{{ k[1] }}')" title="Visualizar"><i class="fa fa-eye"></i></button>
                            </td>
                            <td>
                                <button class="btn w3-green w3-hover-yellow" alt="Editar" onclick="Ir1('/puesto_trabajo/e/{{ k[1] }}')" title="Editar"><i class="fa fa-pencil"></i></button>
                            </td>
                            <td>
                                <button class="btn w3-red w3-hover-yellow" onclick='Confirmar("Desea Borrar el registro?", "/puesto_trabajo/d/{{ k[1] }}")' title="Borrar"><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    {% for x in cadena %}
                        <tr>
                            <td id="k" data-cell="Puesto de Trabajo">{{ x[1] }}</td>
                            <td id="k" data-cell="Asignar Elementos">
                                <button class="btn w3-green w3-hover-yellow" alt="Asignar" onclick="Ir1('/puesto_trabajo/ptrabajo/add/elements/{{ x[0] }}')" title="Asignar"><i class="fa fa-plus"></i></button>
                            </td>
                            <td id="k" data-cell="Visualizar Puesto">
                                <button class="btn w3-blue w3-hover-yellow" alt="Visualizar" onclick="Ir1('/puesto_trabajo/pt/{{ x[0] }}')" title="Visualizar"><i class="fa fa-eye"></i></button>
                            </td>
                            <td>
                                <button class="btn w3-green w3-hover-yellow" alt="Editar" onclick="Ir1('/puesto_trabajo/e/{{ x[0] }}')" title="Editar"><i class="fa fa-pencil"></i></button>
                            </td>
                            <td>
                                <button class="btn w3-red w3-hover-yellow" onclick='Confirmar("Desea Borrar el registro?", "/puesto_trabajo/d/{{ x[0] }}")' title="Borrar"><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
        <br><br><br><br>
        <button class="w3-button w3-round w3-black" onclick="history.back()">Regresar</button>
    {% endif %}
    

        {% if N == 8 %}
        <br>
        <div class="addElementsToAWorkstation">
        <table class="sena__information-card-text w3-centered">
            <tr>
                <td colspan=2>
                    <h5 class="sena-sombra w3-green sena-+p100">ASIGNAR ELEMENTOS</h5>
                </td>
            </tr>
            <tr>
                <form name="mio" method="POST" action="/puesto_trabajo/puestos/trabajo/add/elements/i" class="row g-3">
                    <input type="hidden" id="idPuestoTrabajo" name="idPuestoTrabajo" value="">
                    <tr>
                        <td>Seleccione Elemento:</td>
                        <td>
                            <select name="idElemento" id="idElemento" multiple multiselect-search="true" multiselect-select-all="true" multiselect-max-items="5">
                                {% if elements %}
                                    {% for element in elements %}
                                        <option value="{{ element[0] }}">{{ element[2] }}</option>
                                    {% endfor %}
                                {% else %}
                                      <option value="" disabled>{{ msg }}</option>
                                {% endif %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <br><br>
                            <input type="submit" value="Grabar" class="w3-button w3-round w3-green">
                            <input type="button" class="w3-button w3-round w3-black" value="Regresar" onclick="history.back()">
                        </td>
                    </tr>
                </form>
            </tr>
        </table>
        <br><br><br><br><br>
    </div>
    <script src="{{ url_for('static', filename='js/2.js') }}"></script>
    <script src="{{ url_for('static', filename='js/multi-select.js') }}"></script>
        {% endif %}


        {% if N == 3 %}
        <center>
            <div class="w3-responsive"><br>
                <table class="w3-striped  w3-centered">
                    <tr>
                        <form name="mio" method="POST">
                    <tr>
                        <td>Seleccione el ambiente:</td>
                        <td>
                            <select name="idAmbiente" id="idAmbiente" class="w3-select" required>
                                {% for x in cadena2 %}
                                <option value="{{ x[0] }}">{{ x[2] }}</option>
                                {% endfor %}
                            </select>
                            <br><br>
                        </td>
                    </tr>
                </table>
                </form>
                <br>
                <br><br>
                <button class="w3-blue" onclick="history.back()">Regresar</button>
            </div>
            {% endif %}

                {% endblock %}